[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = git@github.com:Shougo/neocomplcache.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/php-doc-modded"]
	path = .vim/bundle/php-doc-modded
	url = git@github.com:Rican7/php-doc-modded.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = git@github.com:mbbill/undotree.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
