[user]
	name = David Allen
	email = trooper898@gmail.com
[github]
	user = doctorallen
[push]
	default = simple
[pull]
	default = simple
[status]
	displaycommentprefix = true
[alias]
	st = status
	aa = add -A
	ci = commit -v
	ca = !git aa && git ci
	br = branch
	nb = checkout -b
	co = checkout
	df = diff
	dft = difftool
	diffc = diff --cached
	dfc = diff --cached
	dftc = difftool --cached
	diffpager = !git diff --color=always | less -R
	diffp = !git diffpager
	dfp = !git diffpager
	s = status -s
	files = diff --name-only
	last = diff --name-only HEAD^!
	showfiles = show --name-only
	showlast = show --name-only HEAD^!
	excluded = ls-files --others --ignored --exclude-standard
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pushhead = push origin HEAD
	up = !git syncthis && git pushhead
	pushup = push upstream HEAD
	mergeflow = !git merge --no-ff
	fall = fetch --all
	pullbase = pull --rebase
	remoteclean = fetch -p 
	merged = !git branch --merged | grep -v '^\\*'
    notmerged = !git branch -a --no-merge
	localclean = !git merged | xargs git branch -d
	subupdate = submodule update --init --recursive
	sync = !git pullbase origin `git rev-parse --abbrev-ref HEAD` && git push origin `git rev-parse --abbrev-ref HEAD`
	syncup = !git checkout master && git pullbase upstream master && git subupdate
	syncthis = !git pullbase origin HEAD && git subupdate
	syncthisup = !git pullbase upstream `git rev-parse --abbrev-ref HEAD` && git subupdate
	call = !git ci -a
	ignored = clean -ndX
	pup = !git submodule init && git submodule update && git submodule status
	lh = rev-parse HEAD
	b = branch -a
	today = log --since='12am' --format='* %s' --author='David Allen'
	todayall = log --since='12am' --format='* %s'
    sincelast = !git log `git describe --tags --abbrev=0`..HEAD --oneline --format='* %s'
	yesterday = log --since='yesterday' --until='12am' --format='* %s' --author='David Allen'
	ignore = update-index --assume-unchanged
    mergediff = log --pretty=oneline --abbrev-commit --merges
	mergediffpr = !git mergediff -i --grep 'pull request'
	revision = rev-parse HEAD
	revisionshort = rev-parse --short HEAD
	root = rev-parse --show-toplevel
	releasename = !git describe --exact-match --abbrev=0 2>/dev/null || git rev-parse --short HEAD
	branchliststatus = !git remote update && git branch --list -vv
	branchls = !git branchliststatus --color=always | sed 's/].*/]/g'
    conflicts = diff --name-only --diff-filter=u
[core]
	pager = less -FRSX
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	fileMode = false
	ignore = update-index --assume-unchanged
	excludesfile = ~/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[merge]
	ff = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[hub]
	protocol = ssh
